# Python environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Downloaded packages
*.whl

# Biometric data
data/faces/
data/encodings.pkl

# Local SQLite database
database/facepay.db